<% unless comments.nil? %>
  Comments :<br />
  <% comments.each do |comment| %>
      <%= comment.comment %> <%= "(#{commentator(comment.user_id)})" %>
      <br />
      <% link = "#{link_to "Delete Comment", delete_comment_path(comment.id, @article.id), :confirm => "Are you sure?", :method => :delete}" %>
      <% unless session[:user_id].nil? %>
        <%= comment.user_id == current_user.id ? raw(link)  : "" %>
      <% end %>
  <% end %>
<% end %>
