<div class="content">
  <div class="hr_two"></div>
  <h4>Editing Article</h4>
  <div class="hr_two"></div>
  <%= form_for @article do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :title %></td>
          <td>:</td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :body %></td>
          <td>:</td>
          <td><%= f.text_area :body, :cols => 34, :rows => 8 %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "Update" %><br /><br /><%= link_to "Back", articles_path %>
  <% end %>
</div>