<div class="content">
  <%= form_for @user do |f| %>
    <div class="hr_two"></div>
    <h4>Edit Profile</h4>
    <div class="hr_two"></div>
    <table>
      <tbody>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>Name</td>
          <td>:</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>:</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>:</td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>:</td>
          <td>
            <%= f.date_select :birthday, :start_year => 1920, :end_year => Time.now.year %>
          </td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>:</td>
          <td>
            <% malestate = current_user.gender ? "checked" : "" %>
            <% femalestate = current_user.gender == false ? "checked" : "" %>
            <%= f.radio_button :gender, "1", :checked => malestate %>Male
            <%= f.radio_button :gender, "0", :checked => femalestate %>Female
          </td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "Update" %>
  <% end %>
</div>
