<div class="content">
  <div class="hr_two"></div>
  <h4>User Profile</h4>
  <div class="hr_two"></div>
  <p>
    <strong>Name</strong> : <%= @user.name %>
  </p>
  <p>
    <strong>Email</strong> : <%= @user.email %>
  </p>
  <p>
    <strong>Address</strong> : <%= @user.address %>
  </p>
  <p>
    <strong>Phone Number</strong> : <%= @user.phone_number %>
  </p>
  <p>
    <strong>Birthday</strong> : <%= @user.birthday %>
  </p>
  <p>
    <strong>Gender</strong> : <%= gender(@user.gender) %>
  </p>
</div>