<div class="hr_two"></div>
<h4>Listing Articles</h4>
<div class="hr_two"></div>
<section>
  <% articles.each do |article| %>
    <article class="articles">
      Title : <%= article.title %><br />
      Body : <%= truncate(article.body, :length => 60, :omission => '... (continued)') %>
      <ul>
        <li><%= link_to "See detail", article, :class => "no-border" %></li>
        <% unless session[:user_id].nil? %>
          <% if current_user.id.eql?(article.user_id) %>
            <li><%= link_to "Edit", edit_article_path(article) %></li>
            <li><%= link_to "Delete", article, :confirm => "Are you sure?", :method => :delete %></li>
          <% end %>
        <% end %>
      </ul>
    </article>
  <% end %>
</section>