<div class="hr_two"></div>
<h4>Listing Products</h4>
<div class="hr_two"></div>
<div class="products">
  <% products.each do |product| %>
    <div class="product">
      <p>
        Name : <%= product.name %><br />
        Price : <%= product.price %>
        <ul>
          <li><%= link_to "See more", product, :class => "see-more" %></li>
          <% unless session[:user_id].nil? %>
            <% if current_user.id.eql?(product.user_id) %>
              <li><%= link_to "Edit", edit_product_path(product), :class => "manage" %></li>
              <li><%= link_to "Delete", product, :method => :delete, :confirm => "Are You Sure?", :class => "manage" %></li>
            <% end %>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>
</div>