<div class="content">
  <div class="hr_two"></div>
  <h4>Listing Categories</h4>
  <div class="hr_two"></div>
  <br />
  <%= link_to "New Category", new_admin_category_path %>
  <br />
  <table class="admin-categories">
    <thead>
      <tr>
        <th align="left">Name</th>
        <th align="left">Parent Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td align="left"><%= category.name %></td>
          <td align="left"><%= parent_category(category.parent_id) %></td>
          <td>
            <%= link_to "Show", admin_category_path(category.id) %>
            <%= link_to "Edit", admin_edit_category_path(category.id) %>
            <%= link_to "Destroy", admin_category_path(category.id), :confirm => "Are You Sure? ", :method => :delete, :class => "no-border" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>