<div class="content">
  <%= form_for @category, :url => admin_create_category_path do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h3>New Category</h3>
    <table>
      <tbody>
          <tr>
            <td><%= f.label :name %></td>
            <td>:</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>Parent Category</td>
            <td>:</td>
            <td><%= f.select :parent_id, @parent_category, { :include_blank => '-Please Choose-' } %></td>
          </tr>
      </tbody>
    </table>
    <%= f.submit "Create", :class => "button" %>
    <%= link_to "Back", admin_categories_path %>
  <% end %>
</div>