<div class="content">
  <h3>Show Category</h3>
  <p><strong>Name</strong> : <%= @category.name %></p>
  <p><strong>Parent Category</strong> : <%= !@category.parent_id.nil? ? parent_category(@category.parent_id) : "-" %></p>
  <%= link_to "Edit", admin_edit_category_path(@category.id) %>
  <%= link_to "Back", admin_categories_path %>
</div>