/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.container {
  width: 960px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
}

header {
  border-bottom: 3px solid #000;
}

nav {
  margin: 0 0 0 -42px;
}

nav ul li {
  padding: 0 25px;
  list-style: none;
  float: left;
}

nav ul li a {
  font-size: 0.8em;
  color: #458B00;
  text-decoration: none;
}

.clear {
  clear: both;
}

aside {
  border: 2px solid #ccc;
  margin: 20px 0 0;
  padding: 0 20px;
  width: 240px;
}

aside ul li {
  list-style: none;
}

aside ul li a {
  text-decoration: none;
}

aside {
  float: left;
}

section {
  float: left;
}

.hr, .hr_two {
  background-color: #ccc;
  border: 1px solid #fff;
  height: 2px;
  margin: -5px 0 0 -20px;
}

.hr { width: 278px; }

.hr_two { width: 620px; }

.content {
  margin: 25px 0px 25px 50px;
}

section div.content a {
  display: block;
  text-decoration: none;
  margin: 0;
  font-size: 0.8em;
}

table thead tr th {
  font-size: 0.9em;
}

#error_explanation {
  width: 610px;
}

section div.content form.new_category a {
  margin: -1px 0 0 10px;
  float: left;
}

section div.content form.new_category input.button {
  float: left;
}

aside ul li {
  color: #0000FF;
}

aside ul ul li {
  color: #000;
}

.content table tbody tr td a {
  float: left;
  padding: 0 10px;
  margin: 2px 0 0 0;
  border-right: 1px solid #000;
}

.content table tbody tr td a.no-border {
  border-right: none;
}

.content table thead tr th {
  padding: 10px;
}

.content table tbody tr td {
  padding: 10px;
  font-size: 0.8em;
}

section div.content form.new_category a {
  margin: 4px 0 0 10px;
}

.content table.admin-categories {
  text-align: center;
}

.product {
  font-size: 0.8em;
  padding: 0 10px;
  margin: 5px -9px 0 17px;
  border: 2px solid #ccc;
  float: left;
  height: 60px;
  width: 165px;
}

.products {
  margin: 0 0 0 -19px;
  width: 600px;
  overflow: auto;
}

.product p {
  padding: 5px 0 0 0 ;
  margin: 0;
}

section div.content a.see-more {
  display: block;
  text-decoration: none;
  margin: 5px 5px 0 0;
  font-size: 0.8em;
}

.product ul li {
  float: left;
  list-style: none;
}

.product ul {
  margin: 0;
  padding: 0;
}

.product ul li a.manage {
  margin: 5px 0;
  padding: 0 5px;
  border-left: 1px solid #ccc;
}

.content section {
  width: 600px;
}

.content section article {
  margin: 20px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ccc;
}

.content section article.articles {
  height: 60px;
}

.content section article ul {
  margin: 0;
  padding: 0;
}

.content section article ul li {
  float: left;
  list-style: none;
  padding: 0 10px 0 0;
}

.content section article ul li a {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.content section article ul li a.no-border {
  border-left: none;
  padding-left: 0;
}

#comment {
  font-size: 0.8em;
}

#list_comments {
  font-size: 0.8em;
}

.content section article#list_comments ul.comment li {
  margin: 5px 0 0 15px;
  padding: 0;
  list-style: circle;
  float: none;
}

.content section article.articles ul li {
  margin: 5px 0 0 0;
}

a.parent_category {
  color: #0000FF;
}

a.child_category {
  color: #000;
}
