<% @categories = Category.where("parent_id IS NULL") %>
<h3>List Category</h3>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category.id), :class => "parent_category" %></li>
    <% @child_categories = Category.where("parent_id = ?", category.id) %>
    <% if !@child_categories.blank? %>
      <ul>
        <% @child_categories.each do |child_category| %>
          <li><%= link_to child_category.name, category_path(child_category.id), :class => "child_category" %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>