<div class="content">
  <div class="hr_two"></div>
  <h4>New Product</h4>
  <div class="hr_two"></div>
  <%= form_for @product do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :name %></td>
          <td>:</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :description %></td>
          <td>:</td>
          <td><%= f.text_area :description, :cols => 35, :rows => 5 %></td>
        </tr>
        <tr>
          <td><%= f.label :price %></td>
          <td>:</td>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <td><%= f.label :weight %></td>
          <td>:</td>
          <td><%= f.text_field :weight %></td>
        </tr>
        <tr>
            <td><%= f.label :category %></td>
            <td>:</td>
            <td><%= f.select :category_id, @categories, { :include_blank => true } %></td>
        </tr>        
      </tbody>
    </table>
    <%= f.submit "Create" %><br /><br />
    <%= link_to "Back", products_path %>
  <% end %>
</div>
