<div class="content">
  <div class="hr_two"></div>
  <h4><%= @product.name %></h4>
  <div class="hr_two"></div>
  <div class="products">
    <p>
      <strong>Description :</strong><br />
      <%= @product.description %>
    </p>
    <p>
      <strong>Price :</strong><br />
      <%= @product.price %>
    </p>
    <p>
      <strong>Weight :</strong><br />
      <%= @product.weight %>
    </p>
    <p>
      <strong>Category :</strong><br />
      <%= category_name(@product.category_id) %>
      <%= parent_category_name(@product.category_id).blank? ? "" : "(#{parent_category_name(@product.category_id)})" %>
    </p>
    <% unless session[:user_id].nil? %>
      <% if current_user.id.eql?(@product.user_id) %>
        <%= link_to "Edit", edit_product_path(@product) %>
      <% end %>
    <% end %>
    <%= link_to "Back", products_path %>
  </div>
</div>